[submodule "baselines/GraphLanguageModels"]
	path = baselines/GraphLanguageModels
	url = https://github.com/Heidelberg-NLP/GraphLanguageModels.git
[submodule "GraphLanguageModels"]
	path = GraphLanguageModels
	url = https://github.com/tenjust/graph-reasoning-project.git
